<a href="https://colab.research.google.com/github/nareshyadav1234/nareshyadav1234/blob/main/Titantic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df= pd.read_csv("https://raw.githubusercontent.com/rolandmueller/titanic/main/titanic3.csv")

In [ ]:
df.head()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

**Null Value Distribution in Dataset**

In [ ]:
plt.figure(figsize=(12,6))
sns.heatmap(df.isnull(), cbar=False, yticklabels=False, cmap='viridis')
plt.show()

**Statistical Summary of Dataset**

In [ ]:
df.describe()

**Passenger Survival Distribution**

In [ ]:
sns.countplot(x='survived',data=df)
sns.set_style('whitegrid')

**Count of Male and Female Passengers**

In [ ]:
sns.countplot(x='sex',data=df)
sns.set_style('whitegrid')

**Survival Count by Gender**

In [ ]:
sns.countplot(x='survived', hue='sex', data=df, palette=['red', 'blue'])

**Passenger Distribution by Class**

In [ ]:
sns.countplot(x='pclass', data= df)

**Survival Count by Passenger Class**

In [ ]:
sns.catplot(x='survived',data=df,hue='pclass',kind='count')

**Survival Gender by Passenger Class**

In [ ]:
sns.catplot(x='sex',data=df,hue='pclass',kind='count')

**Distribution of Ages**

In [ ]:
df['age'].hist(bins=80)

**Impact of Siblings/Spouses on Survival**

In [ ]:
sns.catplot(x='survived',data=df,hue='sibsp',kind='count')

**Impact of Sibling/Spouse on Gender**

In [ ]:
sns.catplot(x='sex',data=df,hue='sibsp',kind='count')

**Embarkation port analysis**

In [ ]:
sns.catplot(x='embarked',hue='survived',col='sex',kind='count',data=df)
plt.title("Emabarkation port analysis")

**Average Age of Passengers**

In [ ]:
df['age'].mean()

In [ ]:
df

**Dropping the 'body' Column from Dataset**

In [ ]:
df.drop(['body'],axis=1,inplace = True)

**Fare vs Pclass vs Survival**

In [ ]:
sns.boxplot(x='pclass', y='fare', hue='survived', data=df)
plt.title('Fare Distribution by Class and Survival')
plt.show()

**Survival rates by different categories**

In [ ]:
print("Survival rates by Class")
print(df.groupby('pclass')['survived'].mean())
print("Survival rates by Gender")
print(df.groupby('sex')['survived'].mean())
print("Survival rates by Age")
print(df.groupby('age')['survived'].mean())

**Data Types of Each Column**

In [ ]:
df.dtypes

**Removing Duplicate Rows from Dataset**

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

**Resetting DataFrame Index**

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df