<a href="https://colab.research.google.com/github/nareshyadav1234/nareshyadav1234/blob/main/Zomato_Restaurants_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("zomato (1).csv", encoding="latin1")

In [ ]:
df

##**1.BASIC INFORMATION**

In [ ]:
df.head()
df.info()
df.describe()

##**1.How many restaurants are present in the dataset?**

In [ ]:
df['Restaurant Name'].nunique()

In [ ]:
df['Restaurant ID'].nunique()

##**2. Which cities have the highest number of restaurants?**

In [ ]:
city_counts = df['City'].value_counts()
highest_cities = city_counts.head(10)
print(highest_cities)
##Visulization
plt.figure(figsize=(10,6))
highest_cities.plot(kind='bar')
plt.title("cities with highest restaurants")
plt.xlabel("City")
plt.ylabel("Count")
plt.show()

##**3.What are the top countries with the most restaurants?**

In [ ]:
countries = df['Country Code'].value_counts()
top_countries = countries.head(10)
print(top_countries)
##visulization
plt.figure(figsize=(10,6))
top_countries.plot(kind='bar')
plt.title("Top Countries with most restuarent")
plt.xlabel("Country")
plt.ylabel("Count")
plt.show()

##**4.Which currency is used in most of the restaurants?**

In [ ]:
count_currency = df['Currency'].value_counts()
most_currency = count_currency.head(10)
print(most_currency)
##visulization
plt.figure(figsize=(10,6))
most_currency.plot(kind='bar')
plt.title("Most used currrency")
plt.xlabel("Currency")
plt.ylabel("COunt")
plt.show()

##**2.Location & Geography Analysis**

##**5.Which city has the highest average rating**

In [ ]:
city_rating = df.groupby('City')['Aggregate rating'].mean()
highest_rating = city_rating.sort_values(ascending=False).head(10)
print(highest_rating)
##visulization
plt.figure(figsize=(10,6))
highest_rating.plot(kind='bar')

plt.title("Average Rating by City")
plt.xlabel("City")
plt.ylabel("Average Rating")
plt.show()

##**6.Which city has the most highly-rated restaurants (rating â‰¥ 4)?**

In [ ]:
high_rated = df[df['Aggregate rating'] >=4 ]
city_high_count = high_rated['City'].value_counts()
top_10 = city_high_count.head(10)
print(top_10)
##visulization
plt.figure(figsize=(10,6))
top_10.plot(kind='bar')
plt.title("Most Highly Rated Restaurants by City")
plt.xlabel("city")
plt.ylabel("Count")
plt.show()

##**7. What are the top 10 localities with maximum restaurants?**

In [ ]:
locality_count = df['Locality'].value_counts()
top_10 = locality_count.head(10)
print(top_10)
##visulization
plt.figure(figsize=(10,6))
top_10.plot(kind='bar')
plt.title("Top 10 Locality with maximum restaurantas")
plt.xlabel("Locality")
plt.ylabel("count")
plt.show()

##**8. What are the most common cuisines in each country?**

In [ ]:
df.columns

In [ ]:
most_common = df.groupby("Country Code")["Cuisines"].value_counts()
most_common = most_common.head(5)
print(most_common)

##visulization

plt.figure(figsize=(12,6))
most_common.plot(kind='bar')
plt.title("Most common cuisines in each country")
plt.xlabel("Country")
plt.ylabel("Count")
plt.show()