<a href="https://colab.research.google.com/github/nareshyadav1234/nareshyadav1234/blob/main/Zomato_Restaurants_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("zomato.csv", encoding="latin1")

In [ ]:
df

##**BASIC INFORMATION**

In [ ]:
df.head()
df.info()
df.describe()

##**1.How many restaurants are present in the dataset?**

In [ ]:
df['Restaurant Name'].nunique()

In [ ]:
df['Restaurant ID'].nunique()

##**2. Which cities have the highest number of restaurants?**

In [ ]:
city_counts = df['City'].value_counts()
highest_cities = city_counts.head(10)
print(highest_cities)

##**3.What are the top countries with the most restaurants?**

In [ ]:
countries = df['Country Code'].value_counts()
top_countries = countries.head(10)
print(top_countries)

##**4.Which currency is used in most of the restaurants?**

In [ ]:
count_currency = df['Currency'].value_counts()
most_currency = count_currency.head(10)
print(most_currency)